/****** Object:  Table [dbo].[Товары]    Script Date: 04.12.2025 20:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Товары]') AND type in (N'U'))
DROP TABLE [dbo].[Товары]
GO
/****** Object:  Table [dbo].[ПунктыВыдачи]    Script Date: 04.12.2025 20:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ПунктыВыдачи]') AND type in (N'U'))
DROP TABLE [dbo].[ПунктыВыдачи]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 04.12.2025 20:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Пользователи]') AND type in (N'U'))
DROP TABLE [dbo].[Пользователи]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 04.12.2025 20:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Заказы]') AND type in (N'U'))
DROP TABLE [dbo].[Заказы]
GO
/****** Object:  Database [ПосудаDB]    Script Date: 04.12.2025 20:27:59 ******/
DROP DATABASE [ПосудаDB]
GO
/****** Object:  Database [ПосудаDB]    Script Date: 04.12.2025 20:27:59 ******/
CREATE DATABASE [ПосудаDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ПосудаDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ПосудаDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ПосудаDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ПосудаDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ПосудаDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 04.12.2025 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер_заказа] [int] NOT NULL,
	[Состав_заказа] [text] NULL,
	[Дата_заказа] [date] NULL,
	[Дата_доставки] [date] NULL,
	[Пункт_выдачи] [varchar](255) NULL,
	[ФИО_клиента] [varchar](100) NULL,
	[Код_для_получения] [varchar](20) NULL,
	[Статус_заказа] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 04.12.2025 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Роль_сотрудника] [varchar](50) NULL,
	[ФИО] [varchar](100) NULL,
	[Логин] [varchar](100) NULL,
	[Пароль] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПунктыВыдачи]    Script Date: 04.12.2025 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПунктыВыдачи](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Адрес] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 04.12.2025 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Артикул] [varchar](20) NOT NULL,
	[Наименование] [varchar](200) NULL,
	[Единица_измерения] [varchar](20) NULL,
	[Стоимость] [decimal](10, 2) NULL,
	[Размер_максимально_возможной_скидки] [int] NULL,
	[Производитель] [varchar](100) NULL,
	[Поставщик] [varchar](100) NULL,
	[Категория_товара] [varchar](50) NULL,
	[Действующая_скидка] [int] NULL,
	[Кол_во_на_складе] [int] NULL,
	[Описание] [text] NULL,
	[Изображение] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Номер_заказа], [Состав_заказа], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [ФИО_клиента], [Код_для_получения], [Статус_заказа]) VALUES (1, N'А112Т4, 2, D548Т5, 2', CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), N'13', NULL, N'301', N'Завершен')
INSERT [dbo].[Заказы] ([Номер_заказа], [Состав_заказа], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [ФИО_клиента], [Код_для_получения], [Статус_заказа]) VALUES (2, N'F735F5, 3, D644G3, 1', CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), N'12', N'Никулин Антон Фёдорович', N'302', N'Завершен')
INSERT [dbo].[Заказы] ([Номер_заказа], [Состав_заказа], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [ФИО_клиента], [Код_для_получения], [Статус_заказа]) VALUES (3, N'H482Y6, 2, F836E5, 1', CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), N'13', NULL, N'303', N'Завершен')
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ID], [Роль_сотрудника], [ФИО], [Логин], [Пароль]) VALUES (1, N'Администратор', N'Федоров Глеб Михайлович', N'o@outlook.com', N'2L6KZG')
INSERT [dbo].[Пользователи] ([ID], [Роль_сотрудника], [ФИО], [Логин], [Пароль]) VALUES (2, N'Администратор', N'Семенова Софья Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67')
INSERT [dbo].[Пользователи] ([ID], [Роль_сотрудника], [ФИО], [Логин], [Пароль]) VALUES (3, N'Администратор', N'Васильев Егор Германович', N'kaft93x@outlook.com', N'8ntwUp')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[ПунктыВыдачи] ON 

INSERT [dbo].[ПунктыВыдачи] ([ID], [Адрес]) VALUES (1, N'344288, г. Краснокаменск, ул. Чехова, 1')
INSERT [dbo].[ПунктыВыдачи] ([ID], [Адрес]) VALUES (2, N'614164, г.Краснокаменск, ул. Степная, 30')
INSERT [dbo].[ПунктыВыдачи] ([ID], [Адрес]) VALUES (3, N'394242, г. Краснокаменск, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[ПунктыВыдачи] OFF
GO
INSERT [dbo].[Товары] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'A395T3', N'Набор кастрюль', N'шт.', CAST(2150.00 AS Decimal(10, 2)), 10, N'Webber', N'Поставщик', N'Кастрюли', 0, 13, N'Набор кастрюль Эмаль Дача 2-3194/4 белый', N'')
INSERT [dbo].[Товары] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'C367R6', N'Набор кастрюль', N'шт.', CAST(3600.00 AS Decimal(10, 2)), 10, N'Luminarc', N'Поставщик', N'Кастрюли', 0, 5, N'Набор кастрюль Webber BE-336/6 6 пр. серебристый', N'')
INSERT [dbo].[Товары] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'C425F8', N'Набор посуды', N'шт.', CAST(5990.00 AS Decimal(10, 2)), 15, N'Нева', N'Домовой', N'Посуда', 5, 9, N'Набор обеденной посуды Mason Cash Classic 12 предметов серый', NULL)
GO
